<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://www.iciba.com/{popclip text}</string>
			<key>Title</key>
			<string>iCIBA</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://hzlzh.io/</string>
			<key>Name</key>
			<string>hzlzh</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search the selected text in iciba.com.</string>
	<key>Extension Identifier</key>
	<string>org.duotai.opens.popclip.iciba</string>
	<key>Extension Image File</key>
	<string>iciba.png</string>
	<key>Extension Name</key>
	<string>Search in iCIBA</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
